.investor-trust {
    &__dashboard {
        display: flex;
        padding: 10px;

        @media only screen and (max-width: 768px) {
            display: block;
            width: 100%;
        }
    }

    &__image {
        width: 100%;
        margin-right: 10px;

        @media only screen and (max-width: 768px) {
            margin-top: 10px;
        }
    }
}