@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

:host * {
    font-family: "Poppins";
}

.schedule {
    padding: 10px;
    border-radius: 10px;
    background-color: white;
    &-event {
        &-content {
            padding: 10px;
        }
    }
}

:host ::ng-deep {

    .fc .fc-button-primary:not(:disabled).fc-button-active,
    .fc .fc-button-primary:not(:disabled):active {
        background-color: #348AF7 !important;
        color: white;
        border-color: #D9D9D9;
        padding: 10px 20px;

        @media only screen and (max-width: 768px) {
            padding: 8px;
        }
    }

    .fc .fc-button-primary {
        background-color: transparent;
        border-color: #D9D9D9;
        color: black;
        padding: 10px 20px;

        @media only screen and (max-width: 768px) {
            padding: 8px;
        }
    }

    .fc .fc-daygrid-event {
        cursor: pointer;
    }

    .fc .fc-toolbar-title {
        font-size: 20px;
        @media only screen and (max-width: 768px) {
            font-size: 14px;
        }
    }
}