<nav
  class="investortrust-sidebar"
  [ngClass]="{ collapsed: isExpanded }"
  [@sidebarAnimation]="isExpanded ? 'collapsed' : 'expanded'"
>
  <div class="investortrust-sidebar_header">
    <img
      src="assets/bank-victoria/{{ isExpanded ? 'images/favicon.jpg' : 'images/logo-horizontal.png' }}"
    />
    <div class="toggle" (click)="updateBodyClass()">
      <img
        class="arrow"
        src="assets/svg/arrow-{{ isExpanded ? 'right' : 'left' }}.svg"
      />
    </div>
    <!-- <div class="investortrust-sidebar_divider" *ngIf="!isExpanded"></div> -->
  </div>
  <div class="investortrust-sidebar_body" [ngClass]="{ collapsed: isExpanded }">
    <div
      class="investortrust-sidebar_group"
      *ngFor="let group of navigationGroups"
    >
      <div
        *ngIf="hasVisibleItems(group)"
        class="investortrust-sidebar_group_parent"
        (mouseenter)="onParentEnter(group.groupTitle)"
        (mouseleave)="scheduleClose()"
        (click)="toggleGroup(group)"
        [ngClass]="{
          collapsed: isExpanded
        }"
        [@groupToggle]="
          isGroupExpanded(group) ? 'expanded' : 'collapsed'
        "
      >
        <div
          class="investortrust-sidebar_group_title"
          [ngClass]="{
            active: isGroupExpanded(group),
          }"
        >
          <img
            class="arrow"
            src="assets/bank-victoria/svg/sidebar/{{ group.icon }}{{
              isGroupExpanded(group) ||
              shouldShowChildren(group)
                ? '-active'
                : ''
            }}.svg"
          />
          <span *ngIf="!isExpanded">{{ group.groupTitle }}</span>
        </div>
        <img
          *ngIf="group.items.length !== 0 && !isExpanded"
          class="arrow"
          src="assets/svg/{{
            isGroupExpanded(group)
              ? 'arrow-up-blue'
              : 'arrow-down-gray'
          }}.svg"
        />
      </div>
      <div
        class="investortrust-sidebar_group_children"
        [ngClass]="{ collapsed: isExpanded }"
        *ngIf="
          shouldShowChildren(group) && group.items.length !== 0
        "
        (mouseenter)="cancelClose()"
        (mouseleave)="scheduleClose()"
        [@slideInOut]="shouldShowChildren(group) ? 'in' : 'out'"
      >
        <div class="children-group">
          <ng-container *ngFor="let item of group.items">
            <a
              *ngIf="
                item.role === 'all' ||
                item.role === userCheckData.role ||
                userCheckData.role === 'admin'
              "
              class="investortrust-sidebar_group_children_item"
              (click)="isExpanded ? toggleGroup(group) : null"
              [ngClass]="{
                active: item.route === activeRoute && !isExpanded,
                collapsed: isExpanded
              }"
              [routerLink]="item.path"
              >{{ item.title }}</a
            >
          </ng-container>
        </div>
      </div>
    </div>
  </div>
  <div
    class="investortrust-sidebar_footer"
    [ngClass]="{ collapsed: isExpanded }"
  >
    <span>Pengaturan</span>
    <div
      (mouseenter)="hoveredItem = 'change_password'"
      (mouseleave)="hoveredItem = null"
      (click)="changePassword()"
      class="investortrust-sidebar_footer_title"
    >
      <img
        class="arrow"
        src="assets/bank-victoria/svg/sidebar/settings{{
          hoveredItem === 'change_password' ? '-active' : ''
        }}.svg"
      />
      <span *ngIf="!isExpanded">Ganti Kata Sandi</span>
    </div>
    <div
      (click)="logout()"
      (mouseenter)="hoveredItem = 'logout'"
      (mouseleave)="hoveredItem = null"
      class="investortrust-sidebar_footer_title"
    >
      <img
        class="arrow"
        src="assets/bank-victoria/svg/sidebar/logout{{
          hoveredItem === 'logout' ? '-active' : ''
        }}.svg"
      />
      <span *ngIf="!isExpanded">Keluar</span>
    </div>
    <div class="investortrust-sidebar_divider"></div>
    <div
      (click)="help()"
      class="investortrust-sidebar_footer_help"
      [ngClass]="{ collapsed: isExpanded }"
    >
      <img src="assets/bank-victoria/svg/sidebar/whatapps.svg" />
      <ng-container *ngIf="!isExpanded">Saya Butuh Bantuan</ng-container>
    </div>
  </div>
</nav>
