@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;550;600;700&display=swap");

* {
  font-family: "Inter", sans-serif;
}
:host ::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}
.investortrust-sidebar {
  background: #ffffff;
  border-right: 1px solid #e5e5e5;
  position: fixed;
  top: 0;
  bottom: 0;
  height: 100%;
  left: 0;
  width: 288px;
  overflow: visible;
  z-index: 1000;
  &.collapsed {
    width: 70px;
  }
  &_header {
    padding: 20px 20px 0px 20px;
    & > img {
      width: 80%;
    }
    & > .toggle {
      position: absolute;
      border: 0.5px solid #ed1a21;
      background: #ffffff;
      border-radius: 16.5px;
      top: 25px;
      right: -10px;
      width: 24px;
      height: 24px;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
    }
  }
  &_divider {
    border-bottom: 2px solid #e2e8ef;
    margin-top: 15px;
  }
  &_body {
    padding: 10px 20px 20px 20px;
    max-height: 55vh;
    overflow: auto;
    & > span {
      color: #08131f;
      font-size: 10px;
      font-weight: 400;
    }
    &.collapsed {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
  &_group {
    display: flex;
    flex-direction: column;
    padding-top: 10px;
    &_title {
      display: flex;
      gap: 15px;
      font-size: 14px;
      font-weight: 550;
      color: #08131f;
      &.active {
        color: #ed1a21;
      }
      & > a {
        text-decoration: none;
        color: #08131f;
        &.active {
          color: #ed1a21;
        }
      }
    }
    &_parent {
      display: flex;
      justify-content: space-between;
      align-items: center;
      // padding: 8px 5px 8px 5px;
      padding: 10px;
      cursor: pointer;
      position: relative;
      &.collapsed {
        &:hover {
          border-radius: 3px;
          background-color: #e2e8ef;
        }
      }
    }
    &_children {
      border-left: 2px solid #e2e8ef;
      padding-left: 15px;
      margin-left: 18px;
      &_item {
        border-radius: 5px;
        padding: 8px 20px;
        font-size: 13px;
        font-weight: 550;
        cursor: pointer;
        color: #08131f;
        text-decoration: none;
        &:hover {
          background: #e2e8ef;
        }
        &.active {
          background: #e2e8ef;
        }
        &.collapsed {
          padding: 8px;
        }
      }
      & > .children-group {
        display: flex;
        flex-direction: column;
        gap: 5px;
        &.collapsed {
          background: #ffffff;
          min-width: 180px;
          border-radius: 10px;
          padding: 10px;
          box-shadow: 0 2px 15px rgba(0, 0, 0, 0.08);
          display: flex;
          flex-direction: column;
        }
      }
      &.collapsed {
        border-left: 0px solid #e2e8ef;
        position: absolute;
        // background: #ffffff;
        left: 60px;
        & > .children-group {
          background: #ffffff;
          min-width: 180px;
          border-radius: 10px;
          padding: 10px;
          box-shadow: 0 2px 15px rgba(0, 0, 0, 0.08);
          display: flex;
          flex-direction: column;
        }
      }
    }
  }
  &_footer {
    padding: 0px 20px 30px 20px;
    position: absolute;
    bottom: 0;
    width: 85%;
    & > span {
      color: #08131f;
      font-size: 10px;
      font-weight: 400;
    }
    &_title {
      padding: 8px 5px 8px 0px;
      display: flex;
      gap: 15px;
      font-size: 14px;
      font-weight: 550;
      color: #08131f;
      cursor: pointer;
      &:hover {
        color: #ed1a21;
      }
      &.active {
        color: #ed1a21;
      }
    }
    &_help {
      background: #08131f;
      color: #ffffff;
      border-radius: 20px;
      padding: 10px 20px;
      display: flex;
      gap: 10px;
      justify-content: center;
      margin-top: 20px;
      cursor: pointer;
      &.collapsed {
        padding: 10px;
      }
    }
    &.collapsed {
      width: 30px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }
}
