.container {
  display: flex;
  gap: 48px;

  .courses {
    width: 70%;

    @media only screen and (max-width: 768px) {
      width: 100%;
      padding: 10px;
    }

    .list {
      margin-top: 20px;
      display: flex;
      flex-wrap: wrap;
      align-items: flex-start;
      margin-left: -12px;
      margin-right: -12px;

      @media only screen and (max-width: 768px) {
        margin-top: 0;
      }

      .item {
        flex: 0 0 auto;
        width: 33.333333%;
        padding-right: 12px;
        padding-left: 12px;
        box-sizing: border-box;
        margin-top: 10px;

        @media only screen and (max-width: 768px) {
          width: 100%;
        }
      }

      .card-article {
        padding: 20px;
        background-color: white;
        border: 1px solid #E6E4E4;
        border-radius: 10px;

        img {
          width: 100%;
          border-radius: 10px;
          margin-bottom: 1rem;
          object-fit: cover;
        }

        .title {
          font-weight: 700;
          font-size: 14px;
        }

        .subtitle {
          font-weight: 400;
          color: #949494;
          font-size: 12px;
        }

        .button {
          cursor: pointer;
          border: none;
          display: block;
          padding: 10px;
          background-color: #E34243;
          border-radius: 10px;
          width: 100%;
          color: white;
          font-size: 14px;
          font-weight: 600;
          color: white;
          text-align: center;
          margin-top: 10px;
        }
      }
    }

    .header {
      background: #FFFFFF;
      border-radius: 10px;
      border: 1px solid #E6E4E4;
      padding: 18px 10px;
      display: flex;
      justify-content: space-between;

      @media only screen and (max-width: 768px) {
        display: none;
      }

      .select {
        display: flex;
        gap: 10px;
      }

      .article-search-container {
        padding: 20px 25px;
        background-color: white;
        border: 1px solid #E6E4E4;
        border-radius: 10px;

        @media only screen and (max-width: 768px) {
          margin-bottom: 1rem;
        }

        &-title {
          font-size: 14px;
          font-weight: 400;
          margin-bottom: 1rem;
        }

        &-form-control {
          position: relative;
          width: 40%;

          .ic-search {
            position: absolute;
            right: 20px;
            top: 10px;
            width: 14px;
          }
        }

        &-input {
          position: relative;
          width: calc(100% - 70px);
          background-color: #F5F7FB;
          border: none;
          border-radius: 10px;
          padding: 10px 50px 10px 20px;

          &:focus-visible {
            outline: none;
          }
        }

        &-select {
          position: relative;
          color: #949494;
          background-color: #F5F7FB;
          border: none;
          border-radius: 10px;
          padding: 10px 50px 10px 20px;

          appearance: none; // hilangkan panah bawaan browser
          -webkit-appearance: none;
          -moz-appearance: none;
          background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg width='10' height='6' viewBox='0 0 10 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 1l4 4 4-4' stroke='%23999' stroke-width='1.5' fill='none' stroke-linecap='round'/%3E%3C/svg%3E");
          background-repeat: no-repeat;
          background-position: right 14px center;
          background-size: 12px;
          cursor: pointer;

          &:focus-visible {
            outline: none;
          }
        }

      }
    }
  }

  .navigation {
    width: 30%;

    @media only screen and (max-width: 768px) {
      display: none;
    }
  }
}

.sidebar {
  background: #fff;
  border-radius: 12px;
  padding: 16px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.05);

  .sidebar-title {
    font-size: 16px;
    font-weight: 600;
    color: #111;
    margin-bottom: 6px;
  }

  .sidebar-divider {
    border: none;
    border-top: 1px solid #ed1a21;
    margin: 6px 0 10px;
  }

  .menu {
    list-style: none;
    margin: 0;
    padding: 0;

    .menu-item {
      background: none;
      border: none;
      color: #111;
      font-size: 15px;
      font-weight: 500;
      cursor: pointer;
      display: flex;
      align-items: center;
      gap: 6px;
      padding: 10px 0;
      width: 100%;
      text-align: left;
      transition: color 0.2s;

      &:hover {
        color: #dc2626;
      }

      &.inner {
        font-size: 14px;
        padding-left: 16px;
        font-weight: 400;
      }

      &.highlight {
        color: #dc2626;
      }
    }

    .submenu {
      list-style: none;
      padding-left: 22px;
      margin: 4px 0;

      .menu-link {
        font-size: 14px;
        color: #111;
        padding: 8px 0;
        display: flex;
        gap: 10px;
        margin-left: 24px;
        cursor: pointer;
        transition: color 0.2s;

        &:hover {
          color: #dc2626;
        }
      }
    }
  }

  .arrow {
    display: inline-block;
    transition: transform 0.25s ease;
    font-size: 12px;
    margin-right: 4px;

    &.open {
      transform: rotate(0deg);
    }
  }

  .icon {
    font-size: 14px;
  }
}

progress[value] {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 8px;
  border-radius: 10px;
  /* radius untuk container */
  background-color: #e0e0e0;
  /* warna background track */
  overflow: hidden;
  /* supaya rounded terlihat */
  border: 0.5px solid #E6E4E499;
  vertical-align: top;
  margin-top: 2px;
  /* optional border */
}

/* Track di Chrome/Safari */
progress[value]::-webkit-progress-bar {
  background-color: #fff;
  border-radius: 10px;
}

/* Fill/indicator di Chrome/Safari */
progress[value]::-webkit-progress-value {
  background-color: #65D226;
  /* ganti warna fill */
  border-radius: 10px;
}
