<div class="container">
  <div class="courses">
    <div class="header">
      <div class="article-search-container-form-control">
        <input
          name="search-article"
          class="article-search-container-input"
          type="text"
          placeholder="Cari Kursus"
        />
        <img
          class="ic-search"
          src="./assets/bank-victoria/svg/ic-search.svg"
          alt="Search Icon"
        />
      </div>
      <div class="select">
        <select class="article-search-container-select">
          <option value="" disabled selected>Filter Kategori</option>
          <option value="all">Semua Kategori</option>
          <option value="business">Business</option>
          <option value="technology">Technology</option>
          <option value="design">Design</option>
        </select>
        <select class="article-search-container-select">
          <option value="" disabled selected>Urutkan</option>
          <option value="all">Nama Kursus</option>
          <option value="business">Peserta</option>
        </select>
      </div>
    </div>
    <div class="list">
      <div class="item" *ngFor="let course of coursesList">
        <div class="card-article">
          <img [src]="course.image" alt="Article Thumbnail" />
          <div class="title">{{ course.title }}</div>
          <div class="subtitle" style="margin-bottom: 10px !important">
            {{ course.subtitle }}
          </div>
          <span class="subtitle">{{ course.progress }}% progressed</span>
          <progress max="100" [value]="course.progress"></progress>
          <button class="button" (click)="toDetail()">Enroll Kursus</button>
        </div>
      </div>
    </div>
  </div>
  <div class="navigation">
    <app-navigation></app-navigation>
  </div>
</div>
