<div class="container">
  <div class="courses">
    <div class="header">
      <div class="progress">
        <span>65% progressed</span>
        <progress max="100" [value]="65"></progress>
      </div>
      <select class="article-search-container-select">
        <option value="" disabled selected>Pendahuluan</option>
        <option value="all">Apa itu HTML ?</option>
        <option value="business">Bagaimana cara kerja HTML ?</option>
        <option value="technology">Implementasi HTML dalam Browser?</option>
        <option value="design">Buat Websitemu sendiri menggunakan HTML</option>
      </select>
    </div>
    <div class="detail">
      <div class="session">
        <button class="button">Pendahuluan</button>
        <button class="button-clear">Sesi 1</button>
        <button class="button-clear">Sesi 2</button>
        <button class="button-clear">Sesi 3</button>
        <button class="button-clear">Sesi 4</button>
        <button class="button-clear">Sesi 5</button>
      </div>
      <div class="title">Full Course HTML and CSS Courses from Scratch</div>
      <div>
        <iframe
          width="100%"
          height="315"
          src="https://www.youtube.com/embed/HGTJBPNC-Gw?si=wQFienny77twU3Wc"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          referrerpolicy="strict-origin-when-cross-origin"
          allowfullscreen
        ></iframe>
      </div>
      <div>
        <p>
          Pernahkah Anda kagum dengan situs web modern yang rapi, indah, dan
          berfungsi sempurna di ponsel maupun desktop? Tahukah Anda bahwa semua
          itu dimulai dari dua pondasi utama?
        </p>
        <p>
          Di era digital, membangun kehadiran online bukan lagi pilihan,
          melainkan keharusan. Namun, Anda mungkin bingung harus mulai dari
          mana. Banyak kursus terasa terlalu rumit atau hanya mengajarkan teori
          tanpa praktik.
        </p>
      </div>
      <div class="related-acticle">
        <span class="related-acticle-title">Related Article</span>
        <div>
          <button>learning</button>
          <button>html</button>
          <button>basic</button>
          <button>js</button>
          <button>course</button>
          <button>tutor</button>
        </div>
      </div>
      <div class="related-acticle">
        <span class="related-acticle-title">Kehadiran</span>
        <div id="attedance">
          <span>Session 1 attendace Done</span>
          <p>
            To confirm your attendance in the Tuton class, please click on
            Attendance Session 1! If the attendance score is already 100, it
            means you have successfully accessed the attendance for this Tuton
            session. You can then proceed to access other Tuton materials."
          </p>
        </div>
      </div>
      <div class="related-acticle">
        <span class="related-acticle-title">Materi Inisiasi</span>
        <div id="initiation">
          <div>
            <div>
              <img
                class="ic-search"
                src="./assets/bank-victoria/svg/pdf.svg"
                alt="Search Icon"
              />
              <a
                href="https://ontheline.trincoll.edu/images/bookdown/sample-local-pdf.pdf"
                target="_blank"
                >Learnning HTML 5 with simple framwork for easy web build.pdf</a
              >
            </div>
            <span>Done</span>
          </div>
          <div id="divider"></div>
          <div>
            <div>
              <img
                class="ic-search"
                src="./assets/bank-victoria/svg/pdf.svg"
                alt="Search Icon"
              />
              <a
                href="https://ontheline.trincoll.edu/images/bookdown/sample-local-pdf.pdf"
                target="_blank"
                >Learnning HTML 5 with simple framwork for easy web build part
                2.pdf</a
              >
            </div>
            <span>Done</span>
          </div>
        </div>
      </div>
      <div class="related-acticle">
        <span class="related-acticle-title">Materi Pengayaan</span>
        <div id="pengayaan">
          <div id="frame">
            <iframe
              width="100%"
              height="180px"
              src="https://www.youtube.com/embed/HGTJBPNC-Gw?si=wQFienny77twU3Wc"
              title="YouTube video player"
              frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
              referrerpolicy="strict-origin-when-cross-origin"
              allowfullscreen
            ></iframe>
          </div>
          <div id="content">
            <span id="title">Model Framework dan jenisnya </span>
            <p>
              How to Make a Website with Login and Register, How to Create a
              Website with Login and Register, How to Make Website with Login,
              How to Create a Website with Login and Password, How to Create a
              Website Login Page in HTML, How to Make Website Login Page,
              Website with Login and Registration HTML CSS & Javascript
            </p>
            <span>Done</span>
          </div>
        </div>
      </div>
      <div class="related-acticle">
        <span class="related-acticle-title">Diskusi</span>
        <div id="initiation">
          <div>
            <div>
              <img
                class="ic-search"
                src="./assets/bank-victoria/svg/chat.svg"
                alt="Search Icon"
              />
              <a href="#" target="_blank">Diskusi penggunaan css</a>
            </div>
            <span>Done</span>
          </div>
          <div id="divider"></div>
          <div>
            <div>
              <img
                class="ic-search"
                src="./assets/bank-victoria/svg/chat.svg"
                alt="Search Icon"
              />
              <a href="#" target="_blank">Diskusi penggunaan framework css</a>
            </div>
            <span>Done</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="navigation">
    <app-navigation></app-navigation>
  </div>
</div>
