.notification-container {
    border: 1px solid #E6E4E4;
    border-radius: 10px;
    padding: 10px;

    background-color: white;

    .notification-item {
        padding: 14px 0;
        display: flex;
        align-items: flex-start;
        gap: 12px;

        &-content {
            display: flex;
            flex-direction: column;
            gap: 8px;
            line-height: 1.2rem;

            .title {
                font-size: 14px;
                font-weight: 500;
            }

            .desc {
                font-size: 12px;
                font-weight: 400;
            }

            .link {
                color: #E34243;
                font-size: 12px;
                font-weight: 400;
            }
        }

        &-divider {
            width: 100%;
            height: 1px;
            background-color: #E6E4E4;
        }

    }
}