::ng-deep {
    .mat-bottom-sheet-container {
        border-top-left-radius: 10px !important;
        border-top-right-radius: 10px !important;
        padding-top: 10px;
    }
}

.bottom-sheet-handle-container {
    display: flex;
    justify-content: center; /* Pusatkan secara horizontal */
    padding: 8px 0; /* Tambahkan ruang di atas dan di bawah handle */
}

/* Gaya untuk grabber/handle itu sendiri */
.bottom-sheet-grabber {
    width: 40px; /* Lebar horizontal handle */
    height: 4px; /* Tinggi handle (membuatnya tebal) */
    background-color: #ccc; /* Warna abu-abu yang umum digunakan */
    border-radius: 2px; /* Sudut membulat */
    
    /* Tambahkan sedikit margin-bottom jika perlu */
    margin-bottom: 4px; 
}

.notification-container {
    border: 1px solid #E6E4E4;
    border-radius: 10px;
    padding: 10px;

    background-color: white;

    .notification-item {
        padding: 14px 0;
        display: flex;
        align-items: flex-start;
        gap: 12px;

        &-content {
            display: flex;
            flex-direction: column;
            gap: 8px;
            line-height: 1.2rem;

            .title {
                font-size: 14px;
                font-weight: 500;
            }

            .desc {
                font-size: 12px;
                font-weight: 400;
            }

            .link {
                color: #E34243;
                font-size: 12px;
                font-weight: 400;
            }
        }

        &-divider {
            width: 100%;
            height: 1px;
            background-color: #E6E4E4;
        }

    }
}