@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

:host * {
    font-family: "Poppins";
}

::ng-deep {
    .mat-bottom-sheet-container {
        border-top-left-radius: 10px !important;
        border-top-right-radius: 10px !important;
        padding-top: 10px;

        .bottom-sheet-handle-container {
            display: flex;
            justify-content: center;
            /* Pusatkan secara horizontal */
            padding: 8px 0;
            /* Tambahkan ruang di atas dan di bawah handle */
        }

        /* Gaya untuk grabber/handle itu sendiri */
        .bottom-sheet-grabber {
            width: 40px;
            /* Lebar horizontal handle */
            height: 4px;
            /* Tinggi handle (membuatnya tebal) */
            background-color: #ccc;
            /* Warna abu-abu yang umum digunakan */
            border-radius: 2px;
            /* Sudut membulat */

            /* Tambahkan sedikit margin-bottom jika perlu */
            margin-bottom: 4px;
        }
    }
}


.detail-schedule {
    padding: 20px;

    .title {
        font-size: 20px;
        font-weight: 500;
        margin-bottom: 20px;
    }

    .information {
        display: flex;
        flex-direction: column;
        gap: 20px;

        &-item {
            display: flex;
            align-items: center;
            gap: 18px;

            color: black;
            font-size: 14px;
            font-weight: 500;
        }
    }

    .content {
        margin-top: 20px;
        display: flex;
        align-items: flex-start;
        gap: 18px;

        color: black;
        font-weight: 400;
        font-size: 12px;

        ol {
            padding-left: 14px;
        }
    }
}