<div class="bottom-sheet-handle-container">
    <div class="bottom-sheet-grabber"></div>
</div>

<section class="detail-schedule">
    <div class="title">HTML Fundamental Course</div>

    <div class="information">
        <div class="information-item">
            <img src="./assets/bank-victoria/svg/sidebar/calendar.svg" alt="Calendar Icon" />
            Senin, 10 Oktober 09:00 - 13:00
        </div>
        <div class="information-item">
            <img src="./assets/bank-victoria/svg/sidebar/user-tag.svg" alt="User Tag Icon" />
            Bambang Wijaya S.kom
        </div>
        <div class="information-item">
            <img src="./assets/bank-victoria/svg/sidebar/location.svg" alt="Location Icon" />
            <a href="https://meet.google.com/hcb-xqze-sxe" target="_blank">https://meet.google.com/hcb-xqze-sxe</a>
        </div>
    </div>

    <div class="content">
        <img src="./assets/bank-victoria/svg/burger-menu.svg" alt="Burger Menu Icon" />
        <div class="description">
            Setelah sesi ini, peserta diharapkan mampu:
            <ol>
                <li>Memahami definisi dan peran HTML (HyperText Markup Language) dalam pengembangan web.</li>
                <li>Menyusun kerangka dasar dokumen HTML5 dengan benar.</li>
                <li>Menggunakan tag-tag semantik untuk menyusun konten yang terstruktur dan mudah diakses.</li>
            </ol>
        </div>
    </div>
</section>