@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

:host * {
    font-family: "Poppins";
}

.detail-schedule {
    padding: 20px;

    .title {
        font-size: 20px;
        font-weight: 500;
        margin-bottom: 20px;
    }

    .information {
        display: flex;
        flex-direction: column;
        gap: 20px;

        &-item {
            display: flex;
            align-items: center;
            gap: 18px;

            color: black;
            font-size: 14px;
            font-weight: 500;
        }
    }

    .content {
        margin-top: 20px;
        display: flex;
        align-items: flex-start;
        gap: 18px;

        color: black;
        font-weight: 400;
        font-size: 12px;

        ol {
            padding-left: 14px;
        }
    }
}