.investortrust-container {
  position: relative;
  margin-top: 10px;

  &-image {
    width: 180px;
    height: auto;

    &-profile {
      padding: 10px;
      width: 100px;
      height: 100px;
      border-radius: 100%;
    }
  }
}

.investor-trust__action {
  &-edit {
    cursor: pointer;
    font-size: 20px;
    margin-right: 5px;
    margin-left: 5px;
  }

  &-config {
    cursor: pointer;
    font-size: 20px;
    margin-right: 15px;
    color: burlywood;
  }

  &-open-link {
    cursor: pointer;
    font-size: 20px;
    margin-right: 15px;
    color: green;
  }

  &-delete {
    cursor: pointer;
    color: red;
    font-size: 20px;
    margin-left: 5px;
  }
}

.mat-table {
  overflow: auto;
  max-height: 500px;
}

.investortrust-table-container {
  position: relative;
  min-height: 200px;
  max-height: 600px;
  overflow: auto;
}

table {
  width: 100%;
}

.investortrust-loading-shade {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 56px;
  right: 0;
  background: rgba(0, 0, 0, 0.15);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.investortrust-rate-limit-reached {
  max-width: 360px;
  text-align: center;
}

/* Column Widths */
.mat-column-number,
.mat-column-state {
  max-width: 64px;
}

.mat-column-created {
  max-width: 124px;
}

.lds-ring {
  display: inline-block;
  position: relative;
  width: 30px;
  height: 30px;
}

.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 15px;
  height: 15px;
  margin: 8px;
  border: 3px solid #337d92;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #337d92 transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}

@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.ml-10 {
  margin-left: 10px;
}

:host ::ng-deep ::-webkit-scrollbar {
  width: 8px;
  border-radius: 0px;
}

/* Track */
:host ::ng-deep ::-webkit-scrollbar-track {
  box-shadow: inset 0 0 3px grey;
  height: 1px;
}

/* Handle */
:host ::ng-deep ::-webkit-scrollbar-thumb {
  background: #2f70b3;
  border-radius: 0px;
}

/* Handle on hover */
:host ::ng-deep ::-webkit-scrollbar-thumb:hover {
  background: #326878;
}
