<div class="investor-trust__create-data-wrapper">
  <h2>Form Data Wrapper</h2>
  <mat-form-field style="width: 100%" appearance="outline">
    <mat-label>Name</mat-label>
    <input
      matInput
      type="text"
      name="name"
      [(ngModel)]="dataWrapper.name"
      required
    />
  </mat-form-field>
  <mat-form-field style="width: 100%" appearance="outline">
    <mat-label>Link Embed</mat-label>
    <input
      matInput
      type="text"
      name="name"
      [(ngModel)]="dataWrapper.link"
      required
    />
  </mat-form-field>
  <mat-form-field appearance="outline" style="width: 100%">
    <mat-label>Context</mat-label>
    <mat-select [(ngModel)]="dataWrapper.context">
      <mat-option [value]="'investortrust'"> Investor Trust </mat-option>
      <mat-option
        [value]="'datatrust'"
        *ngIf="userData.role === 'researcher' || userData.role === 'admin'"
      >
        Data Trust
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field style="width: 100%" appearance="outline">
    <mat-label>Notes (Optional)</mat-label>
    <input
      matInput
      type="text"
      name="notes"
      [(ngModel)]="dataWrapper.notes"
      required
    />
  </mat-form-field>
  <div class="investor-trust__create-data-wrapper__action">
    <button
      mat-dialog-close
      class="btn-secondary investor-trust__create-data-wrapper__button investor-trust__create-data-wrapper__button-right"
    >
      Cancel
    </button>
    <button
      (click)="onSaved()"
      class="btn-primary investor-trust__create-data-wrapper__button"
    >
      Save
    </button>
  </div>
</div>
