<div class="investor-trust__create-trading-code">
  <h2>Import Trading Code</h2>
  <ngx-dropzone [multiple]="false" (change)="onSelect($event)">
    <ngx-dropzone-label>Drag and Drop or Select your files here...</ngx-dropzone-label>
    <ngx-dropzone-preview
      *ngFor="let f of files"
      [removable]="true"
      (removed)="onRemove(f)"
    >
      <ngx-dropzone-label>{{ f.name }}</ngx-dropzone-label>
    </ngx-dropzone-preview>
  </ngx-dropzone>
  <div class="investor-trust__create-trading-code__action">
    <button
      mat-dialog-close
      class="btn-secondary investor-trust__create-trading-code__button investor-trust__create-trading-code__button-right"
    >
      Cancel
    </button>
    <button (click)="onSaved()" class="btn-primary investor-trust__create-trading-code__button">
      Save
    </button>
  </div>
</div>
