.container {
  position: static;
  background: transparent;
  margin-left: 288px;
  width: calc(100% - 308px); // 288px sidebar + 20px padding compensation
  padding: 20px;
  top: 0;
  transition: margin-left 0.3s ease, width 0.3s ease;
  box-sizing: border-box;
  max-width: 100vw;
  overflow-x: hidden;

  @media only screen and (max-width: 768px) {
    margin-left: 80px;
    width: calc(100% - 80px); // 80px sidebar + 20px padding compensation
  }
}

// When body has sidebar-collapsed class
:host-context(body.sidebar-collapsed) .container {
  margin-left: 80px;
  width: calc(100% - 80px);
}

// When body has sidebar-expanded class
:host-context(body.sidebar-expanded) .container {
  margin-left: 288px;
  width: calc(100% - 308px); // 288px sidebar + 20px padding compensation
}

.feedback {
  position: relative;
  z-index: 999;

  &-content {
    position: fixed;
    bottom: 50px;
    right: 50px;
    background-color: #0c5dd1;
    padding: 10px;
    border-radius: 50px;
    cursor: pointer;
  }

  & > div {
    & > i[class="fa fa-times-circle"] {
      position: absolute;
      top: -5px;
      right: -5px;
      cursor: pointer;
    }

    & > i[class="fa fa-comments fa-2x"] {
      color: white;
    }
  }

  @media only screen and (max-width: 768px) {
    display: none;
  }
}
