.sidenav-container {
  @media only screen and (max-width: 768px) {
    display: none;
  }
}

.container {
  position: static;
  background: transparent;
  margin-left: 273px;
  width: calc(100% - 273px);
  padding: 0;
  top: 0;
  transition: margin-left 0.3s ease, width 0.3s ease;
  box-sizing: border-box;
  max-width: 100vw;
  overflow-x: hidden;

  .body-content {
    padding: 20px;

    @media only screen and (max-width: 768px) {
      padding: 0;
      margin-bottom: 100px;
    }
  }

  @media only screen and (max-width: 768px) {
    margin-left: 0;
    width: calc(100%); // 73px sidebar + 20px padding compensation
  }
}

// When body has sidebar-collapsed class
:host-context(body.sidebar-collapsed) .container {
  @media only screen and (min-width: 500px) {
    margin-left: 73px;
    width: calc(100% - 73px); // 73px sidebar + 20px padding compensation
  }
}

// When body has sidebar-expanded class
:host-context(body.sidebar-expanded) .container {
  @media only screen and (min-width: 500px) {
    margin-left: 273px;
    width: calc(100% - 273px);
  }
}

.feedback {
  position: relative;
  z-index: 999;

  &-content {
    position: fixed;
    bottom: 50px;
    right: 50px;
    background-color: #0c5dd1;
    padding: 10px;
    border-radius: 50px;
    cursor: pointer;
  }

  &>div {
    &>i[class="fa fa-times-circle"] {
      position: absolute;
      top: -5px;
      right: -5px;
      cursor: pointer;
    }

    &>i[class="fa fa-comments fa-2x"] {
      color: white;
    }
  }

  @media only screen and (max-width: 768px) {
    display: none;
  }
}