<div class="menu-responsive">
    <div class="menu-responsive-container">
        <div *ngFor="let menu of menuCollection"
            class="menu-responsive-item"
            (click)="goToPage(menu.path)"
            [ngClass]="{
                active: menu.active === activeRoute
            }">
            <img [src]="'./assets/bank-victoria/svg/sidebar/' + menu.icon + (menu.active === activeRoute ? '-mobile-active' : '') + '.svg'" alt="Menu Icon" />
            <span>{{ menu.groupTitleMobile }}</span>
        </div>
    </div>
</div>
