.menu-responsive {
    padding: 20px 0;
    position: fixed;
    bottom: 15px;
    left: 20px;
    width: calc(100% - 40px);
    background: white;
    border-radius: 25px;
    border: 1px solid #E6E4E4;
    display: none;
    box-shadow: 2px 3px 9px 0px #d49fa1;

    @media only screen and (max-width: 768px) {
        display: block;
    }

    &-container {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 3rem;

    }

    &-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: .5rem;
        padding: 0  8px;
        cursor: pointer;
        
        &.active {
            color: #ed1a21;
        }
        
    }
}