::ng-deep .specific-border-media .mat-mdc-text-field-wrapper {
  background-color: #acacac !important;
}

.investor-trust__create-media {
  padding: 20px;
  background-color: white;

  &-database-list {
    display: flex;
    gap: 10px;
    margin-top: 20px;
    overflow-x: auto;
    border: 1px solid #9e9e9e;
    padding: 10px;

    &-thumbnail {
      position: relative;
      width: 250px;
      border: 1px #9e9e9e;
      border-style: dashed;
      height: 210px;
      font-size: 16px;
      color: #9e9e9e;
      cursor: pointer;

      &__image {
        width: 250px;
        height: 80%;
        margin-bottom: 5px;
        text-align: center;
      }
    }

    &-thumbnail-text {
      width: 250px;
      border: 1px #9e9e9e;
      border-style: dashed;
      height: 210px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 16px;
      color: #9e9e9e;
      cursor: pointer;

      &__text {
        width: 400px;
        text-align: center;
      }
    }
  }

  &__form {
    &-fullwidth {
      width: 100%;
      margin-right: 10px;
    }

    &-thumbnail {
      width: 30%;
      border: 1px #9e9e9e;
      border-style: dashed;
      height: 210px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 16px;
      font-style: "Roboto";
      color: #9e9e9e;
      cursor: pointer;

      @media only screen and (max-width: 768px) {
        width: 100%;
        margin-bottom: 20px;
      }

      &__image {
        width: 100%;
        height: 90%;

        @media only screen and (max-width: 768px) {
          width: 50%;
          height: 90%;
        }
      }
    }

    &-flex {
      display: flex;

      @media only screen and (max-width: 768px) {
        display: block;
      }
    }

    &-row {
      width: 100%;
      margin-left: 15px;

      @media only screen and (max-width: 768px) {
        margin-left: 0;
      }
    }
  }

  &__action {
    display: flex;
    margin-top: 20px;
    justify-content: flex-end;
  }

  &__button {
    &-right {
      margin-right: 10px;
    }

    width: 20%;
  }
}

.ads-form {
  border: 1px solid #9e9e9e;
  padding-inline: 10px;
  border-radius: 4px;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.5);
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  &.padding {
    padding-block: 18px;
  }
  &:hover {
    border: 1px solid rgba(0, 0, 0, 0.87);
  }
}
