<div class="investor-trust__create-sites">
  <h2>Create New Sites</h2>
  <mat-form-field style="width: 100%" appearance="outline">
    <mat-label>Sites Name</mat-label>
    <input
      matInput
      type="text"
      name="name"
      [(ngModel)]="sites.name"
      required
    />
  </mat-form-field>
  <div class="investor-trust__create-sites__action">
    <button
      mat-dialog-close
      class="btn-secondary investor-trust__create-sites__button investor-trust__create-sites__button-right"
    >
      Cancel
    </button>
    <button
      (click)="onSaved()"
      class="btn-primary investor-trust__create-sites__button"
    >
      Save
    </button>
  </div>
</div>
