@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;550;600;700&display=swap");

* {
    font-family: "Poppins";
}

.navbar {
    position: fixed;
    top: 0;
    background-color: #ffffff;
    color: black;
    padding: 20px 30px;
    z-index: 999;
    display: block;
    width: calc(100% - 332px);

    &.expanded {
        width: calc(100% - 140px);
    }

    @media only screen and (max-width: 768px) {
        width: calc(100% - 60px);
    }

    .items-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 18px;

        .title {
            font-weight: 400;
            font-size: 20px;
            margin-left: 20px;
        }

        .right {
            display: flex;
            align-items: center;
            gap: 18px;

            .item {
                &.mobile {
                    cursor: pointer;
                    display: none;
                    @media only screen and (max-width: 768px) {
                        display: block;
                    }
                }
                &.desktop {
                    cursor: pointer;
                    display: block;
                    @media only screen and (max-width: 768px) {
                        display: none;
                    }
                }

                .profile-user {
                    display: flex;
                    align-items: center;
                    gap: 8px;
                    border-left: 1px solid #E6E6E6;
                    padding-left: 18px;
                    cursor: pointer;

                    img {
                        width: 30px;
                    }

                    &-information {
                        display: flex;
                        flex-direction: column;

                        &-name {
                            font-size: 12px;
                            color: #191919;
                            font-weight: 600;
                        }

                        &-email {
                            font-size: 12px;
                            color: #949494;
                            font-weight: 400;
                        }
                    }

                    @media only screen and (max-width: 768px) {
                        display: none;
                    }

                    &-responsive {
                        display: none;

                        @media only screen and (max-width: 768px) {
                            display: block;
                        }
                    }
                }

            }
        }
    }
}

.notification-item {
    padding: 14px 0;
    display: flex;
    align-items: flex-start;
    gap: 12px;

    &-content {
        display: flex;
        flex-direction: column;
        gap: 8px;
        line-height: 1.2rem;

        .title {
            font-size: 14px;
            font-weight: 500;
        }

        .desc {
            font-size: 12px;
            font-weight: 400;
        }

        .link {
            color: #E34243;
            font-size: 12px;
            font-weight: 400;
        }
    }

    &-divider {
        width: 100%;
        height: 1px;
        background-color: #E6E4E4;
    }

}