.navbar {
    position: fixed;
    top: 0;
    background-color: #ffffff;
    color: black;
    padding: 20px 30px;
    z-index: 999;
    display: block;
    width: calc(100% - 332px);

    &.expanded {
        width: calc(100% - 140px);
    }

    @media only screen and (max-width: 768px) {
        width: calc(100% - 60px);
    }

    .items-container {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 18px;

        .title {
            font-weight: 500;
            font-size: 20px;
        }

        .right {
            display: flex;
            align-items: center;
            gap: 18px;
        }

        .item {
            .profile-user {
                display: flex;
                align-items: center;
                gap: 8px;
                border-left: 1px solid #E6E6E6;
                padding-left: 18px;
                cursor: pointer;

                img {
                    width: 30px;
                }

                &-information {
                    display: flex;
                    flex-direction: column;

                    &-name {
                        font-size: 12px;
                        color: #191919;
                        font-weight: 600;
                    }

                    &-email {
                        font-size: 12px;
                        color: #949494;
                        font-weight: 400;
                    }
                }

                @media only screen and (max-width: 768px) {
                    display: none;
                }

                &-responsive {
                    display: none;

                    @media only screen and (max-width: 768px) {
                        display: block;
                    }
                }
            }

        }
    }
}