<nav class="navbar" [ngClass]="{ 'expanded' : isExpanded }">
    <div class="items-container">
        <div class="title">{{ navTitle }}</div>
        <div class="right">
            <div class="item" [matMenuTriggerFor]="eventNotification">
                <img src="./assets/bank-victoria/svg/ic-notification.svg" alt="Notification icon" />
            </div>
            <div class="item">
                <div class="profile-user" [matMenuTriggerFor]="eventMenu">
                    <img src="./assets/bank-victoria/images/avatar.png" alt="Avatar Illust" />
                    <div class="profile-user-information">
                        <span class="profile-user-information-name">User Dummy</span>
                        <span class="profile-user-information-email">lms@victoria.com</span>
                    </div>
                </div>

                <div class="profile-user-responsive" [matMenuTriggerFor]="eventMenu">
                    <img src="./assets/bank-victoria/svg/burger-menu.svg" alt="Burger menu icon" />
                </div>

            </div>
        </div>
    </div>
</nav>

<mat-menu #eventMenu="matMenu">
    <button mat-menu-item>
        <span>Profil</span>
    </button>
    <button mat-menu-item (click)="logout()">
        <span>Keluar</span>
    </button>
</mat-menu>

<mat-menu #eventNotification="matMenu">
    <button mat-menu-item>
        <div class="notification-item">
            <img src="./assets/bank-victoria/svg/clock.svg" alt="Clock Icon" />
            <div class="notification-item-content">
                <span class="title">Pengingat</span>
                <span class="desc">
                    Kursus aktif Anda akan segera berakhir, periksa
                    email terdaftar Anda atau klik kursus aktif Anda untuk melanjutkan
                    kursus Anda.
                </span>
                <a class="link">Kunjungi Program</a>
            </div>
        </div>
    </button>
    <div class="notification-item-divider"></div>
    <button mat-menu-item>
        <div class="notification-item">
            <img src="./assets/bank-victoria/svg/sidebar/book.svg" alt="Clock Icon" />
            <div class="notification-item-content">
                <span class="title">Setifikasi kamu sudah siap!</span>
                <span class="desc">
                    Merupakan suatu kehormatan bagi kami untuk mempersembahkan sertifikasi atas pencapaian Anda. Terima
                    kasih, teruslah
                    belajar.
                </span>
            </div>
        </div>
    </button>
</mat-menu>