<nav class="navbar">
    <div class="items-container">
        <div class="item">
            <img src="./assets/bank-victoria/svg/ic-notification.svg" alt="Notification icon" />
        </div>
        <div class="item">
            <div class="profile-user">
                <img src="./assets/bank-victoria/images/avatar.png" alt="Avatar Illust" />
                <div class="profile-user-information">
                    <span class="profile-user-information-name">Mita Lyanda</span>
                    <span class="profile-user-information-email">mita01@gmail.com</span>
                </div>
            </div>
        </div>
    </div>
</nav>