.investor-trust__news {
    padding: 20px;
    &-header {
        display: flex;
        justify-content: space-between;
        align-items: center;

        @media only screen and (max-width: 768px) {
            display: block;
            .btn-add {
                width: 100%;
            }
        }
    }
}
