.investor-trust__data-wrapper {
  &-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;

    @media only screen and (max-width: 768px) {
      display: block;

      .btn-add {
        width: 100%;
      }
    }
    &-action {
      display: flex;
      justify-content: flex-end;
      gap: 10px;
      width: 100%;
      & > button {
        width: 20%;
      }
    }
  }
}

.p-20 {
  padding: 20px;
}