.investor-trust__changelogs {
  &-header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media only screen and (max-width: 768px) {
      display: block;

      .btn-add {
        width: 100%;
      }
    }

    &-action {
      display: flex;
      gap: 10px;
    }
  }
}
