@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

:host * {
    font-family: "Poppins";
}

.card-article {
    padding: 20px;
    background-color: white;
    border: 1px solid #E6E4E4;
    border-radius: 10px;

    img {
        width: 100%;
        border-radius: 10px;
        margin-bottom: 1rem;
    }

    .title {
        font-weight: 700;
        font-size: 14px;
    }

}