@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap");

:host * {
    font-family: "Inter", sans-serif;
}

.investortrust-login {
    overflow: hidden;
    display: flex;
    height: 100vh;
    background: #fff;

    @media only screen and (max-width: 768px) {
        align-items: flex-start;
        justify-content: center;
    }

    &-container {
        width: 60%;
        display: flex;
        flex-direction: column;
        padding: 60px 40px 0 0;
        position: relative;

        @media only screen and (max-width: 768px) {
            width: 100%;
            align-items: center;
            padding: 20px;
            margin-top: 60px;
        }

        & img.logo {
            width: 180px;
            margin-bottom: 20px;

            @media only screen and (max-width: 768px) {
                position: relative;
                margin-bottom: 40px;
            }
        }
    }

    .title {
        font-size: 45px;
        font-weight: bold;
        line-height: normal;
        width: 70%;
        margin-bottom: 24px;

        @media only screen and (max-width: 768px) {
            font-size: 24px;
            text-align: center;
            width: 100%;
            margin-bottom: 12px;
        }
    }

    .subtitle {
        font-size: 15px;
        color: #666666;
        font-weight: normal;
        width: 70%;

        @media only screen and (max-width: 768px) {
            font-size: 12px;
            text-align: center;
            width: 100%;
        }
    }

    &-box {
        width: 100%;
        max-width: 350px;

        @media only screen and (max-width: 768px) {
            margin-top: 40px;
        }
    }

    &-forgot {
        text-align: right;
        margin-bottom: 20px;

        & a {
            font-size: 13px;
            font-weight: 700;
            color: #ed1a21;
            text-decoration: none;
            cursor: pointer;

            &:hover {
                text-decoration: underline;
            }
        }
    }

    &-register {
        margin-top: 15px;
        font-size: 13px;
        text-align: left;

        & a {
            color: #ed1a21;
            text-decoration: none;
            font-weight: 800;

            &:hover {
                text-decoration: underline;
            }
        }
    }

    &-right-panel {
        width: 40%;
        background: transparent;
        color: #fff;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        flex-direction: column;
        margin-left: 4rem;

        // gap: 14px;
        @media only screen and (max-width: 768px) {
            display: none;
        }

        & img {
            width: 300px;
            z-index: 1;
        }

        & h3 {
            font-size: 20px;
            font-weight: bold;
        }

        .asset-illust {
            &-1 {
                transform: rotate(-5deg);
                margin-top: -11rem;
                opacity: .7;
            }

            &-2 {}

            &-3 {
                transform: rotate(-15deg);
                margin-left: 2rem;
            }
        }

        .transform-5 {
            transform: rotate(-5deg)
        }
    }

    &-btn {
        width: 100%;
        padding: 10px 12px;
        border: none;
        border-radius: 10px;
        background: #ed1a21;
        color: #fff;
        font-weight: bold;
        cursor: pointer;

        &:disabled {
            background-color: #08131f4d;
        }
    }

    &-error {
        padding: 16px;
        border: 1px solid #fecaca;
        background-color: #fef2f2;
        display: flex;
        align-items: center;
        gap: 10px;
        border-radius: 12px;
        margin-bottom: 10px;

        &>div {
            &>p {
                font-size: 12px;
                color: #b91c1b;
                font-weight: 400;
                margin: 0;
            }

            &>span {
                font-size: 12px;
                color: #991b1b;
                font-weight: 600;
            }
        }
    }

    &-success {
        padding: 16px;
        border: 1px solid #329113;
        background-color: #ddffdd;
        display: flex;
        align-items: center;
        gap: 10px;
        border-radius: 12px;
        margin-bottom: 10px;

        &>div {
            &>p {
                font-size: 12px;
                color: #000;
                font-weight: 400;
                margin: 0;
            }

            &>span {
                font-size: 12px;
                color: #000;
                font-weight: 600;
            }
        }
    }

    .asset-blurred {
        width: 30%;
        position: absolute;
        bottom: 0;
        left: 0;

        @media only screen and (max-width: 768px) {
            width: 100%;
        }
    }

    &-register {
        text-align: center;
        font-size: 14px;
        color: #666666;

        a {
            font-weight: 400;
            cursor: pointer;
        }
    }
}

.form-group {
    margin-bottom: 15px;
    width: 93%;
    position: relative;

    &>span {
        position: absolute;
        right: -10px;
        top: 38px;
        cursor: pointer;
    }
}

.form-group label {
    display: block;
    margin-bottom: 4px;
    font-size: 10px;
    color: #000000;
    font-weight: normal;
}

.form-group input {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 10px;
    color: #000;
    outline: none;
}

.form-group input:focus {
    border-color: #2c6bb1;
}

.check-icon {
    display: inline-block;
    color: green;
    font-size: 20px;
}

.check-icon::before {
    content: "✔";
    /* Unicode check mark */
}

.copyright-container {
    position: absolute;
    right: 20px;
    bottom: 30px;

    @media only screen and (max-width: 768px) {
        position: absolute;
        bottom: 20px;
        width: calc(100% - 40px);
        text-align: center;
    }

    &-text {
        font-size: 12px;
        font-weight: 400;
        color: #666666;
    }
}