.investor-trust__config-sites {
  display: flex;

  @media only screen and (max-width: 768px) {
      display: block;
  }

  &-header {
      display: flex;
      justify-content: space-between;
      margin-bottom: 20px;
      height: 40px;

      @media only screen and (max-width: 768px) {
          display: block;
          height: auto;
      }
  }

  .main-headline {
      width: 50%;
      margin-right: 15px;

      @media only screen and (max-width: 768px) {
          width: 100%;
          margin-right: 0;
          margin-bottom: 10px;
      }

      &-header {
          display: flex;
          justify-content: space-between;
      }
  }

  .sub-headline {
      width: 50%;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;

      @media only screen and (max-width: 768px) {
          width: 100%;
          margin-bottom: 10px;
      }

      &-title {
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          max-width: 100px;

          @media only screen and (max-width: 768px) {
              max-width: 100%;
          }
      }

      &-header {
          display: flex;
          justify-content: space-between;

          @media only screen and (max-width: 768px) {
              display: block;
          }
      }

      &-items {
          flex: 45%;
          margin-bottom: 10px;
          margin-right: 10px;
          width: 100%;
      }
  }

  &-trend {
      width: 50%;
      margin-right: 10px;
      margin-top: 10px;

      @media only screen and (max-width: 768px) {
          width: 100%;
      }

      &-items {
          width: 100%;
          margin-top: 10px;

          &-header {
              padding: 10px;
              display: flex;
              justify-content: space-between;
              align-items: center;
          }
      }
  }

  &-quicklink {
      width: 50%;
      max-height: 600px;
      overflow: auto;
      margin-top: 10px;

      @media only screen and (max-width: 768px) {
          width: 100%;
      }

      &-header {
          display: flex;
          justify-content: space-between;
      }
  }

  &-ads {
      margin-top: 10px;
      width: 100%;
      overflow: auto;

      &-content {
          display: flex;
      }

      &-items {
          width: 100%;
          margin-right: 10px;

          &-header {
              display: flex;
              justify-content: space-between;
          }
      }

      &-image {
          width: 100%;
          height: 250px;
      }
  }
}
