<section class="dashboard-victoria">
    <div class="dashboard-victoria-left-panel">
        <div class="main-article">
            <img src="./assets/bank-victoria/images/illust-article.png" alt="Illust Article" />
            <div class="main-article-content">
                <span class="main-article-content-pill">Tech</span>
                <div class="main-article-content-title">
                    Mengapa Web Development Penting di Era Digital?
                </div>
                <div class="main-article-content-desc">
                    Di tengah pesatnya perkembangan teknologi, hampir setiap bisnis, layanan, dan informasi hadir dalam
                    bentuk website atau aplikasi web. Menguasai pengembangan web (web development) bukan lagi hanya
                    keterampilan tambahan, melainkan sebuah kompetensi esensial yang membuka pintu karier tak terbatas.
                </div>
                <div class="main-article-content-information">
                    <span class="main-article-content-information-date">
                        5 November, 2025 10:21 WIB
                    </span>

                    <div class="main-article-content-information-view">
                        <img src="./assets/bank-victoria/svg/eye.svg" alt="Eye Icon" />
                        <span>1,42k</span>
                    </div>
                </div>

                <button (click)="goToDetailArticle()" class="main-article-content-button">
                    Detail
                </button>
            </div>
        </div>
        <div class="article-another">
            <div class="article-another-item" *ngFor="let article of anotherArticle">
                <app-another-article [imgUrl]="article.img" [title]="article.title"></app-another-article>
            </div>
        </div>
    </div>
    <div class="dashboard-victoria-right-panel">
        <div class="article-related-title">
            Artikel Terkait
        </div>
        <div class="article-search-container">
            <div class="article-search-container-title">
                Cari
            </div>
            <div class="article-search-container-form-control">
                <input name="search-article" class="article-search-container-input" type="text"
                    placeholder="Cari Artikel" />
                <img class="ic-search" src="./assets/bank-victoria/svg/ic-search.svg" alt="Search Icon" />
            </div>

        </div>
        <div class="article-related">
            <div class="article-related-title desktop">
                Related Article
            </div>

            <div class="article-related-items">
                <div class="article-related-item" *ngFor="let article of relatedArticle; let i = index">
                    <app-related-article [imgUrl]="article.img" [title]="article.title"></app-related-article>
                    <div *ngIf="i + 1 !== relatedArticle.length" class="article-related-item-divider"></div>
                </div>
            </div>
        </div>
    </div>
</section>