@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

:host * {
    font-family: "Poppins";
}

.dashboard-victoria {
    display: flex;
    gap: 24px;

    @media only screen and (max-width: 768px) {
        flex-direction: column;
    }

    &-left-panel {
        width: 70%;

        @media only screen and (max-width: 768px) {
            width: 100%;
        }

        .main-article {
            padding: 20px;
            background-color: white;
            border: 1px solid #E6E4E4;
            border-radius: 10px;

            display: flex;
            gap: 2.5rem;

            @media only screen and (max-width: 768px) {
                flex-direction: column;
                gap: 1rem;
            }

            img {
                width: 50%;
                border-radius: 10px;

                @media only screen and (max-width: 768px) {
                    width: 100%;
                }
            }

            &-content {
                display: flex;
                flex-direction: column;
                gap: 24px;

                @media only screen and (max-width: 768px) {
                    gap: 1rem;
                }

                &-pill {
                    width: min-content;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    padding: 2px 15px;
                    background-color: #FFD9DA;
                    border-radius: 25px;
                    color: #9A4646;
                    font-size: 12px;
                }

                &-title {
                    font-weight: 700;
                    font-size: 18px;
                    line-height: normal;

                    @media only screen and (max-width: 768px) {
                        font-size: 14px;
                    }
                }

                &-desc {
                    font-size: 14px;

                    @media only screen and (max-width: 768px) {
                        font-size: 12px;
                    }
                }

                &-information {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    color: #666666;
                    font-size: 14px;
                    font-weight: 400;


                    @media only screen and (max-width: 768px) {
                        font-size: 12px;
                    }

                    &-view {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        gap: 10px;
                    }
                }

                &-button {
                    border: none;
                    display: block;
                    padding: 10px;
                    background-color: #E34243;
                    border-radius: 10px;

                    color: white;
                    font-size: 18px;
                    font-weight: 600;
                    color: white;
                    text-align: center;

                    @media only screen and (max-width: 768px) {
                        font-size: 14px;
                    }
                }
            }
        }

        .article-related {
            cursor: pointer;
            margin-top: 24px;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            gap: 1rem;

            &-item {
                width: 32%;

                @media only screen and (max-width: 768px) {
                    width: 100%;
                }
            }
        }
    }

    &-right-panel {
        width: 30%;

        @media only screen and (max-width: 768px) {
            width: 100%;
        }
    }
}