<!-- <div class="investor-trust__create-ads-form">
  <h2>Update Ads</h2>
  <ngx-dropzone
    [multiple]="false"
    style="justify-content: center; margin-bottom: 10px"
    (change)="onSelect($event)"
  >
    <ngx-dropzone-label>
      <div>
        <h3>Drag and Drop your files here...</h3>
      </div>
    </ngx-dropzone-label>
    <ngx-dropzone-image-preview
      ngProjectAs="ngx-dropzone-preview"
      *ngFor="let f of files"
      [file]="f"
      [removable]="true"
      (removed)="onRemove(f)"
    >
    </ngx-dropzone-image-preview>
  </ngx-dropzone>
  <mat-form-field style="width: 100%" appearance="outline">
    <mat-label>Alt Text</mat-label>
    <input matInput [(ngModel)]="ads.altText" type="text" name="altText" required />
  </mat-form-field>
  <mat-form-field style="width: 100%" appearance="outline">
    <mat-label>Link</mat-label>
    <input matInput [(ngModel)]="ads.link" type="text" name="link" required />
  </mat-form-field>
  <div class="investor-trust__create-ads-form__action">
    <button
      mat-dialog-close
      class="btn-secondary investor-trust__create-ads-form__button investor-trust__create-ads-form__button-right"
    >
      Cancel
    </button>
    <button class="btn-primary investor-trust__create-ads-form__button" (click)="onSaved()">
      Update
    </button>
  </div>
</div> -->
